body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
  color: #333;
}

#materialRatios {
  font-size: 1rem;
  color: #6c757d;
}

.results {
  background-color: #e2e2e2;
  padding: 10px;
  border-radius: 0.5em;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results h3 {
  color: #5d6975;
}

.results p {
  font-size: 1.1rem;
  margin: 5px 0;
}

.capitalize {
  text-transform: capitalize;
}
